<div class=mainContent>
        <div class="mainPresentation">
                <h1 class="title">Descubra o poder do Blockchain</h1>
                <p class="paragraph">Saiba como estamos utilizando a tecnologia por
                         trás do Bitcoin para gerar valor e solucionar os desafios 
                         de nossos clientes.
                </p>
                <button 
                        (click)="navigate('/about-blockchain')"
                        ngx-scroll-to="#blockchainAboutPage"
                >Mostre-me como</button>
        </div>
        <div class="imageContainer">
                <img class="mainImage" src="../../assets/images/Main image Blockchain.svg" alt="">
        </div>
</div>
