.mainContent{
    margin: auto;
    margin-top: 0;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(700px, 1fr);
    overflow: visible;
}
.imageContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mainImage{
    height: 60vw;
    max-height: 600px;
}

button{
    width: 230px;
    height: 50px;
    background: #E05359;
    border-radius: 7px;
    color:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size:  80px;
    color: #2D2D2D;
    margin-bottom: 40px;
}
.mainPresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraph{
    margin-top: -30px;
    width: 400px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1400px){
    .mainContent{
        width: 85vw;
        grid-template-columns: 1fr 1fr;
    }
    .imageContainer{
        justify-content: center;
    }
    .mainImage{
        width: 100%;
    }
}

@media only screen and (max-width: 1080px){
    .mainContent{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh  35vh;
    }
    .mainPresentation{
        align-items: center;
    }
    .title{
        font-size: 12vw;
        text-align: center;
    }
    .paragraph{
        font-size: 3vw;
        line-height: 4vw;
        text-align: center;
        width: 100%
    }
    .imageContainer{
        grid-row-start: 1;
    }
}