<div class=mainContent>
    <div class="mainPresentation">
        <h1 class="title">Seu sistema disponível 24/7</h1>
        <p class="paragraph">Tenha seu sistema online, disponível a qualquer hora! 
            Veja como soluções web estão ajudando nossos clientes em seus 
            desafios.
        </p>
        <button 
            (click)="navigate('/about-webdev')"
            ngx-scroll-to="#webAboutPage"
            >Mostre-me como</button>
        
    </div>
    <div class="imageContainer">
        <img class="mainImage" src="../../assets/images/Main image Web.svg" alt="">
    </div>
</div>