<div class="mainContent" id="blockchainAboutPage">
    <div class="cardsTitle">
            <h2>Vantagem de usar <strong>Blockchain</strong></h2>
    </div>
    <div class="cards">
        <div class="card1">
            <img class="cardIcon" src="../../assets/images/Circle.png" alt="">
            <div class="text">
                    <h4>Segurança</h4>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis recusandae.</p>
            </div>
        </div>
        <div class="card2">
            <img class="cardIcon" src="../../assets/images/Circle.png" alt="">
            <div class="text">
                <h4>Segurança</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis recusandae.</p>
            </div>
        </div>
        <div class="card3">
            <img class="cardIcon" src="../../assets/images/Circle.png" alt="">
            <div class="text">
                    <h4>Segurança</h4>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis recusandae.</p>
            </div>
        </div>
        <div class="clientCard">
                <div class="textArea">    
                    <div class="clientTitle">
                        <p class="casoDeUso">Caso de uso</p>
                        <p class="clientName">Cliente: <strong>GoMoney</strong></p>
                    </div>  
                    
                    <p class="mainCardText"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quas cupiditate sint sed accusantium repudiandae reprehenderit
                        esse consectetur eum repellendus quae quod unde similique 
                        adipisci voluptate natus incidunt impedit, rem provident!</p>
                </div>            
                <form target="_blank" action="https://gomoney.me/">   
                    <input type="submit" class="clientButton" value="Conhecer o site"/>
                </form>
        </div>
        
    </div>
    <div class="footer"></div>
</div>
