<div mnFullpage>
    <div class="section welcome-section fp-section fp-table">
      <div class="fp-tableCell mainPage">
        <div class="navbar">
          <img class="logo" src="../assets/images/Bytehub logo.svg" alt="">
        </div>
          <!-- Main page slides start -->
          <div class="slide Webdev">
              <app-slide-web-dev></app-slide-web-dev>
          </div>

          <div class="slide"> 
              <app-slide-app></app-slide-app>
          </div>
          
          <div class="slide"> 
              <app-slide-blockchain></app-slide-blockchain>
          </div>
          <!-- Main page slides end -->
        
      </div>
    </div>
      <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>