* {
    box-sizing: border-box;
}

 .mainPage{
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 63%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #eeeeee), color-stop(63%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 63%, #ffffff 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, #ffffff 63%, #ffffff 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 63%, #ffffff 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 63%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
    
    height: 100%;
    padding-top: 50px;
 }

.carousel-control-next{
    width: 70px;
}

.carousel-control-next-icon{
   background-image: url(../assets/images/next.svg);
   width:50px;
   height: 50px;
}

 .carousel-control-prev{
     width: 70px;
 }
 
 .carousel-control-prev-icon{
    background-image: url(../assets/images/back.svg);
    width:50px;
    height: 50px;
    fill: white;
}

.slide{
    display: flex;
    justify-content: center;
    height: 80vh;
    flex-direction: column;      
}

.navbar{
    width: 1200px;
    margin: auto;
    padding: 0px;
    
}

.carousel-indicators .active{
    background-color:rgb(226, 224, 224);
 
}

.carousel-indicators li{
    display: none;
}

.logo{
    width:140px;
}

.space{
    height: 110px;
}

.bottomPage{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+22,eeeeee+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 22%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 22%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 22%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.upArrow{
    position: absolute;
    width: 25px;
    left:82px;
    top: 112px;
}

.up-arrow{
    cursor: pointer;
}
.circle{
    width:190px;
    margin-top: -40px;
}

@media only screen and (max-width: 1400px){
    .navbar{
        width: 85vw;
    }
    .slide{
        padding: 0 80px;
    }
}

@media only screen and (max-width: 1080px){
    .navbar{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .logo{
        width:120px;
    }
    .slide{
        padding: 0;
    }
    .carousel-control-next-icon, 
    .carousel-control-prev-icon,
    .carousel-control-next,
    .carousel-control-prev{
        display: none;
    }
}
