* {
    box-sizing: border-box;
}

 .mainPage{
     /* Permalink - use to edit and share this gradient: https:colorzilla.com/gradient-editor/#eeeeee+0,ffffff+86 */
     background: #eeeeee; /* Old browsers */
     background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 86%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 86%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
     
     height: 100%;
     padding-top: 25px;
 }

.carousel-control-next{
    width: 70px;
}

.carousel-control-next-icon{
   background-image: url(../assets/images/next.svg);
   width:70px;
   height: 70px;
}

 .carousel-control-prev{
     width: 70px;
 }
 
 .carousel-control-prev-icon{
    background-image: url(../assets/images/back.svg);
    width:70px;
    height: 70px;
    fill: white;
}

.slide{
    display: flex;
    justify-content: center;
    height: 90vh;
    flex-direction: column;      
}

.navbar{
    width: 1200px;
    margin: auto;
    padding: 0px;
    
}

.carousel-indicators .active{
    background-color:rgb(226, 224, 224);
 
}

.carousel-indicators li{
    top: 10px;
    position: relative;
    height: 6px;
    background-color: rgb(206, 121, 9);
}



.logo{
    width:180px;
}


.bottomPage{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+22,eeeeee+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 22%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 22%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 22%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.circle{
    width:200px;
    margin-top: -75px;
}

@media only screen and (max-width: 1400px){
    .navbar{
        width: 85vw;
    }
    .slide{
        padding: 0 80px;
    }
}

@media only screen and (max-width: 1080px){
    .navbar{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .logo{
        width:120px;
    }
    .slide{
        padding: 0;
    }
    .carousel-control-next-icon, 
    .carousel-control-prev-icon,
    .carousel-control-next,
    .carousel-control-prev{
        display: none;
    }
}
