<div class="mainContent">
    <h2>Por que usar <strong>Aplicativos Mobile</strong>?</h2>
    <div class="cards">
        <div class="card1">
            <img class="cardIcon" src="../../assets/images/Circle.png" alt="">
            <div class="text">
                    <h4>Segurança</h4>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis recusandae.</p>
            </div>
        </div>
        <div class="card2">
            <img class="cardIcon" src="../../assets/images/Circle.png" alt="">
            <div class="text">
                <h4>Segurança</h4>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis recusandae.</p>
            </div>
        </div>
        <div class="card3">
            <img class="cardIcon" src="../../assets/images/Circle.png" alt="">
            <div class="text">
                    <h4>Segurança</h4>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis recusandae.</p>
            </div>
        </div>
        <div class="clientCard">
            <div class="clientTitle">
                <p class="casoDeUso">Caso de uso</p>
                <p class="clientName">Cliente: GoMoney</p>
            </div>  
            
            <p class="mainCardText"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quas cupiditate sint sed accusantium repudiandae reprehenderit
                esse consectetur eum repellendus quae quod unde similique 
                adipisci voluptate natus incidunt impedit, rem provident!</p>

            <button class="clientButton" href="https://gomoney.me/">Ir para o site</button>
        </div>
        <div class="footer"></div>
    </div>
</div>
