<div class=mainContent>
  <div class="mainPresentation">
    <h1 class="title">Tire seu aplicativo do papel</h1>
    <p class="paragraph">Não deixe aquela ideia do seu app morrer
       na praia! Entre em contato e veja como estamos gerando valor 
       para nossos cliente através do desenvolvimento 
       de aplicativos mobile!
    </p>
      <button 
          (click)="navigate('/about-app')"  
          ngx-scroll-to="#appAboutPage"
      >Mostre-me como</button>
  </div>
  <div class="imageContainer">
    <img class="mainImage" src="../../assets/images/Main image Aplicativo.svg" alt="">
  </div>
